body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Comentando el estilo anterior */
/*
.centrado-negrita-cursivo {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.estilo-division {
    border: 2px solid #333;
    padding: 20px;
    background-color: #ffffff;
}
*/

/* Nuevo estilo */
header {
    background-color: #69bd45;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #4caf50;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #2f8247;
}

section {
    padding: 20px; /* Espaciado para la sección de 20 píxeles */
}

footer {
    background-color: #4caf50; /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 800px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
    text-align: center;
}

/* Estilos para las imágenes */
img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    border: 3px solid #69bd45; 
    border-radius: 10px; 
}
